/* Stylesheet for Valuminous  */

.Head{
  font-family: 'Roboto', sans-serif;
  align-items: center;
  text-align: center;
}
body{
  font-family: 'Roboto', sans-serif;
}
.nav{
  text-align: center;
}
.linkdiv{
  text-align: center;
  color: gray;
  vertical-align:top;
  display:inline-block; 
}
